<h2 class="section-title">📚 最新記事</h2>
<ul class="card-list">
  {{ $pages := where .Site.Pages "Section" "blog" }}
  {{ $recentPages := $pages | first .Site.Params.latestPostNum }}
  {{ range $recentPages }}
  {{ if and (ne .Title "blog") (ne .Title "Blogs") }}
  <li class="card-item">
    <a href="{{ .Permalink }}" class="card-link">
      <span class="card-emoji">{{ partial "tag-icon.html" . }}</span>
      <div class="card-body">
        <span class="card-title">{{ .Title }}</span>
        <div class="card-bottom">
          <span class="card-date">
            <time datetime='{{ .Date.Format "2006-01-02" }}'>
              {{ .Date.Format "2006/01/02" }}
            </time>
          </span>
          {{ $wordCount := .WordCount }}
          {{ $readingTime := div $wordCount 500 }}
          {{ if lt $readingTime 1 }}{{ $readingTime = 1 }}{{ end }}
          <span class="card-reading-time">📖 約{{ $readingTime }}分</span>
          {{ with (.GetTerms "tags") }}
          <span class="card-tags">
            {{ range (first 3 .) }}
            <span class="card-tag-badge">{{ partial "tag-badge-icon.html" .LinkTitle }}{{ .LinkTitle }}</span>
            {{ end }}
          </span>
          {{ end }}
        </div>
      </div>
    </a>
  </li>
  {{ end }}
  {{ end }}
</ul>
<div style="text-align: center; margin-top: 1.5rem;">
  <a href="/blog/" class="view-all-link">すべての記事一覧へ</a>
</div>
